body {
    font-family:"Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #494949;
    background: #eaeaea;
        margin: 5% 0;
}

.editor {
    resize: vertical;
overflow: auto;
line-height: 1.5;
background-color: #fafafa;
background-image: none;
border: 0;
border-bottom: 1px solid #3b8dbd;
min-height: 150px;
box-shadow: none;
padding: 8px 16px;
margin: 0 auto;
font-size: 14px;
transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.editor:focus {
        background-color: #f0f0f0;
        border-color: #38af5b;
        box-shadow: none;
        outline: 0 none;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;
    font-family:"Raleway", sans-serif;
    font-weight: 300;
    line-height: 1.1;
}

.title h1, .title h2, .title h3, .title h4 { margin: 5px; }
.title {
    position: relative;
    display: block;
    padding-bottom: 0;
    border-bottom: 3px double #dcdcdc;
    margin-bottom: 30px;
}
    .title::before {
        width: 15%;
        height: 3px;
        background: #53bdff;
        position: absolute;
        bottom: -3px;
        content:'';
    }
a {
    color: #53bdff;
    text-decoration: none;
    outline: 0;
}
    a:hover {
        color: #06a0ff;
        text-decoration: none;
    }
p { margin: 10px 0; }

    /* ==========================================================================
       Buttons
       ========================================================================== */
    .btn {
      font-family:"Raleway", sans-serif;
      font-weight: 300;
      font-size: 1em;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      border: none;
      border-bottom: .15em solid black;
      padding: 0.65em 1.3em;
    }
    .btn-xs {
        font-size: .80em;
        padding: .25em .75em;
    }

    .btn-default {
      border-color: #d9d9d9;
      background-image: linear-gradient(#ffffff, #f2f2f2);
    }
        .btn-default:hover { background: linear-gradient(#f2f2f2, #e6e6e6); }
